body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

select {
  color: white;
  font-weight: 700px;
  background-color: black;
  border: 1px white;
  border-radius: 10px;

}

.select {
  margin-left: 1%;
}

option {
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
}

label {
  color: white;
  margin-right: 1%;
}

.select-left {
  display: inline-block;
  margin-right: 5%;
}

.select-right {
  display: inline-block;

  margin-right: 5%;

}
















.card {
  background: rgb(0, 0, 0);
  background: linear-gradient(246deg, rgba(0, 0, 0, 1) 0%, rgba(137, 46, 46, 1) 10%, rgba(52, 47, 47, 0.9) 28%, rgba(66, 61, 61, 1) 100%);
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 5%;
}


.games-image {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 10px 10px
}


.games-body {
  background: radial-gradient(circle at 50% 50%, #36000d, #280008, #1b0004, #0f0002, #050000, #010000, #000000);
}

.games-image:hover {
  transform: scale(1.05);
  border-style: solid;
  border-color: white;
}

.card-body {
  padding: 0;
}


.card-title {
  color: rgba(255, 255, 255, 0.829);
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 1%;
  text-transform: uppercase;
  margin-left: 10%;

}

#card-title {
  font-size: 40px;
  margin-top: 3%;
}

#card-year {
  font-size: 50px;
  font-weight: 600;
}



.card-text {
  margin-left: 10%;
  margin-top: 3%;
  font-size: 30px;
}

.card-image {
  width: 80%;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 2%;

}

#card-button {
  background-color: black;
  color: white;
  margin-left: 10%;
  border: none;
  font-weight: 900;
  margin-bottom: 5%;
  margin-top: 2%;
  font-size: 35px;
}

#about-outer {
  text-align: center;
  scroll-snap-type: y mandatory;
  max-height: 100vh;

}

.card-image:hover {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 10px 10px
}

.row {
  padding-top: 2%;
}

.about-image {
  width: 100%;
}

.about-title {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  margin-top: 2%;
  font-weight: 900;
}

.about-text {
  color: rgba(255, 255, 255, 0.735);
  margin-left: 5%;
  margin-right: 5%;
}

.about-text-2 {
  color: white;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  padding-bottom: 10%;
  padding-top: 3%;
}

#about-title-1 {
  background-color: white;
  font-size: 40px;
  margin-top: 6%;
  padding-top: 4%;
  color: black;
  margin-bottom: 0;
}

#about-text-1 {
  background-color: white;
  font-size: 20px;
  margin: 0;
  color: black;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 4%;

}

hr {
  color: white;
  height: 20px;
}

#about-title-3 {
  background-color: rgb(0, 0, 0);
  font-size: 40px;
  margin-top: 6%;
  padding-top: 4%;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}

.about-text-4 {
  color: rgba(255, 255, 255, 0.703);
  margin-left: 28%;
  margin-right: 28%;
}

#about-text-3 {
  background-color: rgb(0, 0, 0);
  font-size: 25px;
  margin: 0;
  color: rgb(255, 255, 255);
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 2%;

}




.container>div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

.about-white {
  background-color: white;
  width: 100%;
  height: 5%;
  color: white;
}

#indicator {
  color: rgba(218, 211, 217, 0)
}

#viewer {
  padding: 0;
  margin: 0;
}

#menu {
  margin: 0;
  padding: 0
}


#carouselExampleIndicators {
  padding: 0;
  margin: 0;
  width: 100%
}

.carousel-inner {
  width: 100%;
  margin: 0;
  padding: 0;

}

.carousel-item {
  width: 100%;
  margin: 0;
  height: auto;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  margin: auto;
  bottom: 30%;
  background-color: rgba(0, 0, 0, 0.66);
  border-radius: 10px;
}

.carousel-caption h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.carousel-caption p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: auto;
  width: 75%;
  font-size: 18px;
  line-height: 1.9;
}



.navbar {
  background-color: black;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
  color: rgb(189, 188, 188)
}

.nav-link.active,
.nav-link:focus {
  color: #ffffff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.navbar-brand{
  color: rgba(255, 255, 255, 0.523)
}


#news-slider {
  margin-top: 80px;
}


.outerbox {
  background: radial-gradient(circle at 50% 50%, #36000d, #280008, #1b0004, #0f0002, #050000, #010000, #000000);
  text-align: center;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 15%;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.title2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 6%;
  font-size: 100px;
  font-weight: bold;
  color: black;
  text-align: center;

}

.carousel-control-next {
  width: 5%;
  margin-left: 3%;
}

.carousel-control-prev {
  width: 5%;
  margin-right: 3%;
}

.box {
  background: rgb(0, 0, 0);
  background: linear-gradient(246deg, rgba(0, 0, 0, 1) 0%, rgba(137, 46, 46, 1) 10%, rgba(52, 47, 47, 0.9) 28%, rgba(66, 61, 61, 1) 100%);
  width: 100%;
  max-width: 1500px;
  margin: 5% auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.bimage {
  position: relative;
  overflow: hidden;
  width: 50%;
  border-radius: 10px 0 0 10px;
}

.bimage img {
  width: 100%;
  height: auto;
  display: block;
}

.btext {
  font-size: 25px;
  padding: 5%;
  width: 50%;
  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
}

#signup {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: radial-gradient(circle at 50% 50%, #36000d, #280008, #1b0004, #0f0002, #050000, #010000, #000000);
  padding-top: 10%;

}


@media (max-width: 768px) {

  .title2{
    font-size: 30px;
  }
  #signup {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background: radial-gradient(circle at 50% 50%, #36000d, #280008, #1b0004, #0f0002, #050000, #010000, #000000);
    padding-top: 40%;
  }

  .box {
    flex-direction: column;
    width: 90%;
  }

  .bimage,
  .btext {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .carousel-caption {
    width: 100%;
    font-size: 5px;
  }

  .btext {
    padding: 5%;
  }
}

.signup {
  appearance: none;
  background-color: black;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  margin: 0;
  height: 20%;
  width: 20%;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  margin-top: 2%;
  margin-bottom: 7%;
}



.signupd {

  text-align: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 57%, rgba(255, 255, 255, 1) 70%, rgba(0, 0, 0, 1) 100%);
  margin-top: 15%;
  margin-bottom: 5%;
}


.signup:disabled {
  pointer-events: none;
}

.signup:hover {
  box-shadow: rgba(61, 20, 20, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.signup:active {
  box-shadow: none;
  transform: translateY(0);
}


.footert {
  color: white;
}

.footerp {
  color: rgb(161, 158, 158);
  margin-bottom: 50%;
}

.fcontainer {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
  color: white;

}

.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: linear-gradient(-45deg,
      rgba(6, 190, 244, 0.75) 0%,
      rgba(45, 112, 253, 0.6) 100%);
  transition: all 0.5s linear;
}

.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}

.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}



.btitle {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  color: #3e0210;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.btitle a:hover {
  text-decoration: none;
  color: #3e0210;
}

.blongtext {
  line-height: 24px;
  color: white;
  margin-bottom: 25px;

}

.bbutton {
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 12px;
  background: #00000073;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px rgb(52, 6, 6);
  border-radius: 25px;
  text-transform: uppercase;
}

.bbutton:hover {
  background: #3e0210;
  text-decoration: none;
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}


ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #000000;
  position: relative;
}

.footer-cta {
  border-bottom: 1px solid #000000;
}

.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}


.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
  width: 20%
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.facebook-bg {
  background: #3B5998;
}

.twitter-bg {
  background: #55ACEE;
}

.google-bg {
  background: #000000;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #000000;
}

.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: #000000;
}

.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
  width:70%;
  height:30%;
  text-align: center;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: #000000;
  padding: 13px 20px;
  border: 1px solid #000000;
  top: 0;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #000000;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #000000;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #000000;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

.img-icon {
  height: 10%
}

.card-profile {
  height: 22vh;
  width: 100%;
  border-radius: 10px;
  background: rgba(62, 60, 60, 0.384);
  margin-bottom: 2%;
  color: white
}

.profile-id {
  color: white;
  font-size: 10px;
  margin-left: 1%;
  padding-top: 1%
}

.profile-title {
  color: white;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-left: 1%
}

.profile-nickname {
  color: white;
  font-style: italic;
  font-weight: 700;
  margin-left: 1%;
  font-size: 20px;
}

.profile-left {
  float: left;
  margin: 10px;
}

.profile.right {
  float: right;
  margin: 10px;
}

.platforms-additionaltext{
  color: rgba(255, 255, 255, 0.605);
  margin-left: 1%;
  font-size: 12px;
}

.platforms-text {
  color: white;
  margin-left: 1%;
  margin-bottom: 0%;
  padding-top: 1%;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
}

.img-icon {
  margin-left: 1%;
  height: 20vh;
  border-radius: 10px;
}

.platform-icon:hover {
  opacity: 0.5;
  margin-left: 1%
}

.profile-description {
  color: white;
  text-transform: capitalize;
}

.platform-icon {
  height: 10vh;
  margin: 10px;
  border-radius: 10px;
  ;
}

.platform-card {
  width: 100%;
  background-color: pink;
}

#single-game {
  width: 80%;
  height: 80vh;
  margin-left: 10%;
  color: rgb(203, 201, 201);
  font-size: 50px;

}

.movie-apply{
  margin-top: 3%;
  font-weight: 700;
  border: none;
  background-color: black;
  color: white;
  margin-bottom: 6%;
  border-radius: 6px;
  padding: 1%
}

.movie-apply:hover{
  opacity: 0.7;
}

.movie-title{
  text-transform: uppercase;
  margin-top: 20vh;
  font-weight: 900;
  font-size: 35px
}
.movie-description{
  margin-left: 15%;
  margin-right: 15%;
  color: rgb(51, 50, 50)
}

.movie-cinema{
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 10px;
  font-style: italic;
}

.movie-genre{
  font-weight: 900;
}

.movie-descriptiontext{
  font-weight: 900
}

.movie-genre2{
  text-transform: capitalize;
}
@media (max-width: 768px) {

  .profile-title {
    font-size: 20px
  }

  .movie-title{
    font-size: 20px;
    margin-top: 5vh;
  }

  .carousel-item {
    width: 100%;
    margin: 0;
    height: auto;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .e {
    color: pink;
  }

  .signup {
    height: 10%;
    width: 40%;
    font-size: 20px;
    
  }



  .carousel-caption {
    width: 50%;
    margin: 0px auto;
    background-color: rgba(0, 0, 0, 0.66);
    bottom: 10%;
  }

  .carousel-caption h5 {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .carousel-caption p {
    font-size: 10px;
    width: 75%;
    line-height: 1.9;
  }
}

#games-profile-body {
  background-color: #000000;
}

.singlegame-image {
  border-radius: 10px 0px 0px 10px;
  width: 100%;

}
.singlegame-wrap{
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.singlegame-left {
  position: relative;
  overflow: hidden;
  width: 50%;
  margin-left: 5%;
}

.singlegame-right {
  
  text-align: center;
  background-color: white;
  margin-right: 5%;
  border-radius: 0px 10px 10px 0px;
  width: 50%
}

.singlegame-title {
  color: white;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 5%
}

.singlegame-year {
  color: white;
  font-weight: 800;
  font-style: italic;
  font-size: 20px;

}

.singlegame-description {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;

}

#singlegame-button{
  background-color: black;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  font-weight: 800;
  margin-right: 5%;
  float: right
}

#singlegame-button:hover{
 opacity: 0.6;
}

.singlegame-add{
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 5%;
  font-weight: 700;
  margin-bottom: 5%;
}

.singlegame-add:hover{
  opacity: 0.7;
}



.byelehends{
  border: none;
  border-radius: 5px;
  background-color: white;
  color:black;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 2%;
  float: right;
  font-weight: 900;
  padding:10px
}
@media (max-width: 1100px){
  .singlegame-description {
    color: black;
    font-size: 10px;
    font-weight: 600;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    
  }

  .singlegame-wrap {
    flex-direction: column;
    width: 90%;
  }
  .singlegame-left, .singlegame-right{
    width: 100%;
    float: none
  }

  .singlegame-title{
    font-size: 30px;
  }
  .singlegame-image{
    border-radius: 10px 10px 0px 0px
  }

  .singlegame-description{
    border-radius: 0px;
    font-size: 20px;
    margin-top: 3%
  }

  .singlegame-right{
    margin-left: 5%;
    border-radius: 0px 0px 10px 10px;
    
  }

  .singlegame-add{
    width: 20%;
  }

  
}

#redinput{
  border: 5px solid #ff0000
}

.singlelocation-address{
  color: white;
  margin-left: 5%;
  text-transform: uppercase;
  
}

.singlelocation-description{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  font-size: 20px
}

#comment-card {
  overflow: hidden; 
  margin-bottom: 1%; 
  width: 60%;
  height: 10vh;
  background-color: rgb(30, 29, 29);
  border-radius: 10px;
  margin-right: 10%
}

.comment-left {
  float: left;
  width: 80px; 
  background-color: rgb(30, 29, 29);
  height: 100%;
  border-radius: 10px 0px 0px 10px;
}

.comment-img {
  margin-top: 5px;
  margin-left: 3px;
  padding: 5px;
  height: 80px;
  width: 80px;
  height: auto;
  object-fit: cover;
  border-radius: 10px; 
}

.comment-right {
  padding: 10px;
  float: left;
  margin-left: 10px;
  width: 70%;
  color: white; 
  background-color: rgb(24, 22, 22);
  height: 100%;
}


.comments-main {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 5%;
  margin-top: 5%;
}

.comment-username{
  text-transform: uppercase;
  font-weight: 800;
}

.comment-title{
  font-weight: 600;
  text-transform: capitalize;
  color:rgba(255, 255, 255, 0.651)
}


.comments-sub{
  color: rgba(255, 255, 255, 0.372);
  margin-left: 5%
}

.comment-textarea{
  width: 50%;
  margin-left: 5%;
  border-radius: 10px
}

.comments-notlogged{
  margin-left: 5%;
  color: white;
  margin-top: 5%;
}

#comment-button:hover{
  opacity: 0.7
}

.comments-like{
  color: white;
  text-transform: capitalize;
  margin-left: 5%;
}

.comments-likebutton{
  background-color: white;
  color: black;
  border-radius: 10px;
  border: none;
  margin-left: 5%;
  width: 3%;
}

.comments-likebutton:hover{
  opacity: 0.7;
}

@media (max-width: 1100px){
  #comment-card {
    width: 80%
  }

  .comment-right{width: 60%}

  .comments-sub{
    font-size: 10px;
  }

  .comments-main{
    margin-top: 15%;
    font-size: 15px;
  }

  #comment-button{
    width : 15%;
    font-size: 8px;
  }
}


.platforms-body{
  text-align: center
}

.platforms-title{
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px
}


.no{
  color: rgb(139, 137, 137);
  margin-left: 5%;
  text-transform: uppercase;
  font-style: italic;
}

.checkbox{
  padding: 0%;
  margin: 0%
}

#signup-button:hover{
  opacity: 0.7;
}

#signup-button{
  background-color:rgb(52, 51, 51)
}
